body {
  min-height: 100%;
  padding-left: 5%;
  padding-right: 5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 62.5%;
  vertical-align: top;
  overflow: hidden;
}

.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.tooltip {
  font-size: 10pt;
  background-color: white;
}

.axis path, .axis line {
  fill: None;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-size: 11px;
}

.tooltip p {
  padding: 0;
  margin: 0;
}