html {
  max-height: 1080px;
}
body {
  min-height: 100%;
  text-align: center;
  margin: auto;
}

* {
  font-family: 'Poppins', sans-serif;
}

#root {
  text-align: center;
  margin: auto;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 80%;
  padding-bottom: 50%;
  vertical-align: top;
  overflow: hidden;
}

.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  height: 90%;
  width: 100%;
}

.tooltip {
  font-size: 10pt;
  background-color: white;
}

.axis path, .axis line {
  fill: None;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-size: 11px;
}

.tooltip p {
  padding: 0;
  margin: 0;
}

button {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  background: none;
  border-radius: 8px;
  box-shadow: none;
  text-shadow: none;
}